<div *ngIf="estudante">
  <h2>{{estudante.nome | uppercase}} Details</h2>
  <div>id: {{estudante.id}}</div>
  <div class="container">
    <label for="estudante-nome">Nome: </label>
    <input id="estudante-nome" [(ngModel)]="estudante.nome" placeholder="nome">
    
    <label for="estudante-matricula">Matricula: </label>
    <input id="estudante-matricula" [(ngModel)]="estudante.matricula" placeholder="Matricula">
  
    <label for="estudante-materia">Matéria: </label>
    <input id="estudante-materia" [(ngModel)]="estudante.materia" placeholder="matéria">
    
    <label for="estudante-notas">Notas: </label>
    <input id="estudante-notas" [(ngModel)]="estudante.notas" placeholder="notas">
    
    <label for="estudante-semestre">Semestre: </label>
    <input id="estudante-semestre" [(ngModel)]="estudante.semestre" placeholder="semestre">
    
   
  </div>
</div>