<div *ngIf="estudante">
  <h2>{{estudante.Nome | uppercase}} Details</h2>
  <div>id: {{estudante.codigo}}</div>
  <div class="container">
    <label for="estudante-nome">Nome: </label>
    <input id="estudante-nome" [(ngModel)]="estudante.Nome" placeholder="Nome">
    
    <label for="estudante-ra">RA: </label>
    <input id="estudante-ra" [(ngModel)]="estudante.ra" placeholder="RA">
  
    <label for="estudante-curso">Curso: </label>
    <input id="estudante-curso" [(ngModel)]="estudante.Curso" placeholder="Curso">
    
    <label for="estudante-codigo">Código </label>
    <input id="estudante-codigo" [(ngModel)]="estudante.codigo" placeholder="Código">
    
    <label for="estudante-email">Email: </label>
    <input id="estudante-email" [(ngModel)]="estudante.Email" placeholder="Email">
    
   
  </div>
</div>